<!-- app/views/dashboard/index.html.erb -->
<h1>Welcome, <%= current_user.first_name %></h1>

<div class="scoreboard">
  <h2>Today's Habit Completion</h2>
  <p>Completed: <%= @completed_habits_today %> out of <%= @current_habit_total %> habits</p>
  <p>Completion Percentage: <%= @completion_percentage %>%</p>
   <link rel="stylesheet" href="style.css">
</div>

<div class="percentage-ring-container">
  <div class="percentage-ring" id="percentageRing">
    <div class="percentage-value" id="percentageValue" data-percentage="<%= @completion_percentage %>">%</div>
  </div>
</div>

<%= javascript_include_tag 'progressRing' %> 
