<h2 class="mb-5 text-center"><%= @habit_static.habit.name %></h2>

<div class="row g-3">
  <div class="col-md-6">
    <div class="border border-black p-3">
      <div class="text-body-secundary">complete</div>
      <h3> <%= @habit_static.completed_occurrences || 0 %> days</h3>
    </div>
  </div>
  <div class="col-md-6">
    <div class="border border-black p-3">
      <div class="text-body-secundary">missed</div>
      <h3> <%= @habit_static.missed_occurrences %> days</h3>
    </div>
  </div>
  <div class="col-md-6">
    <div class="border border-black p-3">
      <div class="text-body-secundary">total</div>
      <h3> <%= @habit_static.total_occurrences %> days</h3>
    </div>
  </div>
</div>
<% if @habit_static.total_occurrences.to_i > 0 %>
<h3 class="text-center mt-5 m-3">Habit Score</h3>

<div class="border border-5 border-primary rounded-circle text-center m-auto d-flex align-items-center justify-content-center score">
   <h3><strong>
    <%# format number below %>


   <%= ((@habit_static.completed_occurrences ).to_f  / (@habit_static.total_occurrences ) * 100).to_i %>
   </strong>
   </h3>
</div>
<% end %>
