<div class="container mt-5">
  <h2 class="mb-4">Today's Habits</h2>
  <div class="row">
    <% @habits.each do |habit| %>
      <div class="col-12 mb-3">
        <div class="card border-0 shadow-sm" id="habit-<%= habit.id %>">
          <div class="card-body d-flex align-items-center justify-content-between">

            <%= link_to habit.name, habit_static_path(habit.habit_static), class: "text-dark text-decoration-none fs-5" %>
            <div class="d-flex align-items-center">
               <% if habit.today_occurrence.completion_status == 'completed' %>
                <button class="btn btn-outline-primary complete-btn mr-2" disabled data-habit-id="<%= habit.id %>">Completed</button>
              <% elsif habit.today_occurrence.completion_status == 'pending' %>
                <button class="btn btn-outline-primary complete-btn mr-2" data-habit-id="<%= habit.id %>">Complete</button>
              <% end %>
              <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton<%= habit.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bi bi-three-dots"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton<%= habit.id %>">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item" href="#">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
