<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HabitPulse</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

  <div class="container-fluid mt-5 text-left">
    <div class="row">
    <%# if user not logged in hide sidebar %>

      <div class="col-md-3" <%= 'hidden' unless user_signed_in? %> >
        <div class="sidebar d-flex flex-column align-items-center  side-nav">

          <div class="container-avatar">

            <img class="avatar-large" alt="avatar-large" src="<%=  current_user&.photo.present? ? cl_image_path( current_user&.photo&.key) : asset_path('default_profile.png')  %>" />

            <%= link_to  edit_user_registration_path do %>
              <i class="fa-solid fa-pen-to-square "></i>
            <% end %>
          </div>

          <% if current_user %>
            <div class="mb-5 mt-3 username"><%= "#{current_user.first_name } #{current_user.last_name}"%></div>
          <% end %>
          <p><span class="label">Your progress: </span><span class="user-progress">744/744</span></p>
          <p><span class="label">Completion rate:</span> <span>100% 🏆</span></p>
          <div class="mt-5">
            <%= link_to "Create a habit", new_habit_path, class: "btn btn-primary" %>
          </div>
          <div class="mt-3">
            <%= link_to "View habits", habits_path, class: "btn btn-outline-primary mt-2" %>
          </div>

        </div>
      </div>
      <main class="<%= current_user ? 'col-md-9' : 'col-md-12' %>">
        <%= yield %>
        <%= turbo_frame_tag "remote_modal", target: "_top" %>
      </main>
    </div>
  </div>


</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website with Footer</title>
  <link rel="stylesheet" href="css/navbar.css"> <!-- Ensure the correct path to the CSS file -->
  <link rel="stylesheet" href="css/footer.css"> <!-- Ensure the correct path to the footer CSS file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- FontAwesome CSS -->
</head>
<body>
  <nav>
  </nav>

  <div class="content">
    <!-- Content goes here -->
  </div>

  <footer>
    <div class="footer-content">
      <p>&copy; 2024 HabitPulse. All rights reserved.</p>
      <div class="social-media">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/js/all.min.js"></script> <!-- Ensure the correct path to FontAwesome JS -->
</body>
</html>

