<!DOCTYPE html>
<html>
  <head>
    <title>HabitPulse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body><%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

    <div class="left">
      <p>this is the left side of the page</p>
    </div>
    
    <div class="right">
         <%= yield %>
    </div>
  </body>
</html>
