<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HabitPulse</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
</head>
<body>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

  <div class="container mt-5 text-left">
    <div class="row">
      <aside class="col-md-3  side-nav">
        <div class="sidebar  text-center">
           <% if current_user&.photo.present? %>
            <%= cl_image_tag current_user.photo.key, height: 300, width: '100%', crop: :fill %>
          <% else %>
            <div class="profile-image-placeholder mx-auto"></div>
          <% end %>

          <%= link_to 'Edit',  edit_user_registration_path %>

          <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#editModal">
            Upload Photo
          </button>
          <div class="mb-5 username">@username</div>

          <p><span class="label">Your progress: </span><span class="user-progress">744/744</span></p>
          <p><span class="label">Completion rate:</span> <span>100% 🏆</span></p>
          <div class="mt-5">
            <%= link_to "Create a habit", new_habit_path, class: "btn btn-primary" %>
          </div>
          <div class="mt-3">
            <%= link_to "View habits", habits_path, class: "btn btn-outline-primary mt-2" %>
          </div>

        </div>
      </aside>
      <main class="col-md-9">
        <%= yield %>
      </main>
    </div>
  </div>


</body>
</html>
